#header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height:10vh;
  width:100vw;
  display:flex;
  justify-content:end;
}
#header input{
  height:2em;
  background-color: white;
  border: 1px solid black;
  border-radius: 1em;
  width:50vw;
}
#headerbtn{
  display: flex;
  justify-content: flex-end;
  height:2em;
}